<!-- This is an example component -->
<div class="flex items-center fixed bottom-5 left-5 py-3 px-5 animate-fade-in-up" data-controller="flash">
  <div class="bg-white <%= @border_class %> border-l-4 p-4 shadow-md" role="alert">
    <p class="text-gray-700"><%= @data[:title] %></p>
  </div>
</div>

